body {
  background: #effce6;
  font-family: 'Overpass', system-ui;
  padding: 10px;
}

h1 {
  padding: 10px 20px;
  margin: -20px;
  margin-bottom: 0;
}

h1, table {
  background: #fcfcfc;
}

h2 {
  margin: 6px 0;
  font-size: 16px;
}

h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 11px;
  color: #898989;
  margin: 5px 0;
}

table {
  margin-top: 25px;
}

td {
  border: 1px solid #808080;
  text-align: center;
  padding: 5px 25px;
}

td:last-child {
  font-weight: bold;
}

.covidNums, .fluLevel {
  padding: 0 5px;
}

.greenBg {
  background: #72d472;
}

.yellowBg {
  background: #f3f31b;
}

.redBg {
  background: #ff5f5f;
}

.red {
  color: #cd0000;
}

.green {
  color: #00a700;
}

.yellow {
  color: #b2b200;
}