// Example personal.js. Fill in numbers that work for you

PERSONAL_DATA = [
  "1/1/2020", // Last COVID case
  "1/1/2024", // Last booster
];

// --- Worry level adjustments can be made here: --------------------
COVID_NUMBER_WORRY_LEVELS = [
  500, // Level 0. Below this and covid is 'over' - do anything
  1000, // Level 1. Below this and I can stop masking as much
  1500, // Level 2. Below this and I don't have to worry about restaurants, stores, etc
  2000 // Level 3. Below this, be more careful about events, restaurants, etc
  // Above this = SURGE! Start staying home.
];

// --- List activities and levels here
// If no strings are specified, defaults to 'Y', 'M', and 'N'
// Middle level can be skipped ("someWorryLevel")
ACTIVITY_LEVELS = [
  {
    name: "Masking in stores",
    noWorryLevel: 0,
    someWorryLevel: 1,
    someWorryString: "if busy",
    allWorryString: "n95",
  }
]

// Days in which covid or booster was so recent I don't worry about anything
COVID_RECENT_CUTOFF = 30;
// Days in which covid or booster was so long ago I want to be extra cautious
COVID_DISTANT_CUTOFF = 250;

COLOR_THRESHHOLDS = [
  1000, // green below, yellow above
  2000, // red above
]

// A list of all tests with expiration dates to track if any are about to expire or if we need to get more
TEST_EXPIRATION_DATES = [
  "1/1/2025",
  "6/1/2024",
  "3/5/2024",
]
